<% provide :page_title, "All Que" %>
<% currently_at 'Questions' %>

<h1 class="mb-4 text-light">Questions</h1>

<%= link_to 'New question', new_question_path, class: 'mb-3 btn btn-info btn-lg' %>

<%= paginate @questions %>

<%= render partial: 'questions/question', collection: @questions, as: :question %>

<%= paginate @questions %>