<% provide :page_title, "All Que" %>
<% currently_at 'Questions' %>

<h1 class="mb-4 text-light">Questions</h1>

<%= link_to 'New question', new_question_path, class: 'mb-3 btn btn-info btn-lg' %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1%>

<%= render partial: 'questions/question', collection: @questions, as: :question %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>